* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #5372f0;
  padding: 0 10px;
}
.wrapper {
  background-color: #fff;
  max-width: 1000px;
  border-radius: 13px;
  overflow: hidden;
  padding: 35px;
  position: relative;
}
.wrapper .icon {
  position: absolute;
  top: 0;
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
}
.icon:first-child {
  left: 0;
  background: linear-gradient(90deg, #fff 70%, transparent);
  display: none;
}
.icon:last-child {
  right: 0;
  justify-content: flex-end;
  background: linear-gradient(-90deg, #fff 70%, transparent);
}
.icon i {
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
  font-size: 2em;
  cursor: pointer;
}
.icon:first-child i {
  margin-left: 15px;
}
.icon:last-child i {
  margin-right: 15px;
}
.icon i:hover {
  background-color: #efebfd;
}
.wrapper .tabs-box {
  display: flex;
  list-style: none;
  gap: 12px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.tabs-box .tabs {
  cursor: pointer;
  white-space: nowrap;
  font-size: 1.18rem;
  background-color: #f5f4fd;
  padding: 13px 20px;
  border-radius: 30px;
  border: 1px solid #d8d5f2;
}
.tabs-box.dragging {
  scroll-behavior: auto;
  cursor: grab;
}
.tabs-box.dragging .tabs {
  user-select: none;
}
